<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    # deal with admin first
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]

    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css)/
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^.*$ backend/web/index.php [L]

    RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
    RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
    RewriteRule ^(.*)$ frontend/web/$1 [L]

    RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js)/
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ frontend/web/index.php
</IfModule>

#Options +FollowSymLinks
#IndexIgnore */*
#RewriteEngine on
#
## Если запрос начинается с /admin, то заменяем на /backend/web/
##RewriteCond %{REQUEST_URI} ^/admin
##RewriteRule ^admin\/?(.*) /backend/web/$1
#
## Добавляем другой запрос /frontend/web/$1
#RewriteCond %{REQUEST_URI} !^/(frontend/web|backend/web|admin)
#RewriteRule (.*) /frontend/web/$1
#
## Если frontend запрос
#RewriteCond %{REQUEST_URI} ^/frontend/web
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /frontend/web/index.php
#
## Если backend запрос
##RewriteCond %{REQUEST_URI} ^/admin
#RewriteCond %{REQUEST_URI} ^/backend/web
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /backend/web/index.php

#RewriteEngine On

# End the processing, if a rewrite already occurred
#RewriteRule ^(frontend/web|backend/web|admin)/ - [L]
#RewriteRule ^(frontend|backend)/web/ - [L]
#
## Handle the case of backend, skip ([S=1]) the following rule, if current matched
#RewriteRule ^backend(/(.*))?$ backend/web/$2 [S=1]
#
## handle the case of frontend
#RewriteRule .* frontend/web/$0
#
## Uncomment the following, if you want speaking URL
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^([^/]+/web)/.*$ $1/index.php